<div blg-menu menu-title="AngularJS MEAN Blog"></div> 
<div id="container" class="container"> 
    <div class="blog-post-label">About This Application</div>
    <div class="blog-about">
        <p>
        This is a <b>MEAN stack</b> version of the blog application written by Ken Williamson. 
        The application is used in chapter 11 of <b>"Learning AngularJS"</b>.
        </p>
        <p><b>You will need to add new blog posts when running locally on you development machine. You will also need to modify the Protractor script for chapter 11 to match the new blog posts.</b></p>
        <p>This application is not intended for production use but only as a training tool. 
        You are welcome to modify this software and to use it in a production environment <b>after you have added 
        Node.js security</b> and the needed components.</p>
    </div>
    
</div>
